:root{
    --primary-color: #fff;
    --secondary-color: #b4b3b3;
    --gray-color: #bebebe;
    --navbar-background-color: rgba(255,255,255,0.1);
    --sidebar-background-color: rgba(10, 15, 82, 0.4);
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Open-sans", sans-serif;
}

.destination-page{
    width: 100%;
    height: 100vh;
    background-image: url(/starter-code/assets/destination/background-destination-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn{
    display:none;
}

.img-logo{
    padding-left: 30%;
}
.height-of-navbar{
    height: 20vh;
}
.my-navbar ul{
    width: 75vw;
    height: 80px;
    background-color: var(--navbar-background-color);
    backdrop-filter: blur(5px);
}
.my-navbar ul li{
    list-style: none;
}
.my-navbar ul li a{
    position: relative;
    text-decoration: none;
    font-family: var(--secondary-font-family);
    font-size: 18px;
    color: var(--gray-color);
    font-weight: 500;
    text-transform: uppercase;
    transform-origin: left;
    transition: .5s ease;
}
.my-navbar ul li a::before{
    content: '';
    position: absolute;
    top: 44px;
    right: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition:.5s ease-in-out;
    border-radius: 5px;
}
.my-navbar ul li a:hover{
    color: var(--primary-color);
}
.my-navbar ul li a:hover::before{
    width: 100%;
}
.my-navbar ul li a.activeClass{
    color: var(--primary-color);
}
.my-navbar ul li a.activeClass::before{
    width: 100%;
}
.span{
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: 25px;
    color: var(--secondary-color);
    opacity: .5;
}

aside{
    display: none;
}

.height-auto{
    height: 80vh;
    position: relative;
}

.btn{
    display: none;
}
.btn-bars{
    visibility: hidden;
}
.png{
    transform: scale(.8);
}
.list-group-content li a{
    position: relative;
    text-decoration: none;
    font-family: var(--primary-font-family);
    font-size: 20px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 200;
    transition: .1s;
}

.list-group-content li a:hover{
    font-weight: 500;
}
.list-group-content li a::before{
    content: '';
    position: absolute;
    right: 0;
    top: 40px;
    width: 0;
    height: 1.5px;
    background-color: var(--primary-color);
    transition: .5s ease-in-out;
}
.list-group-content li a:hover::before{
    width: 100%;
}
.list-group-content li a.activeLink{
    font-weight: 500;
}
.list-group-content li a.activeLink::before{
    width: 100%;
}

.content-head{
    padding-top: 50px;
    font-weight: 300;
}
.content-info{
    font-family: var(--primary-font-family);
    font-weight: 100;
}
.distance-header, .time-header{
    font-weight: 100;
    text-transform: uppercase;
}
.distance-info, .time-info{
    font-weight: 100;
    text-transform: uppercase;
}
.next-prev-btn{
    display: none;
}
.indicator-of-galaxy{
    display: none;
}
.header-text{
    position: absolute;
    top: 0;
    left: 50px;
}
.header-text{
    font-family: var(--primary-font-family);
    font-weight: 200;
    font-size: 30px;
}
.header-text > span{
    font-weight: bold;
    color: var(--gray-color);

}

@media screen and (max-width: 576px) {
    .destination-page{
        width: 100%;
        height: 100vh;
        background-image: url(/starter-code/assets/destination/background-destination-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .height-of-navbar{
        height: 60px;
    }
    .img-logo{
        transform: scale(.7);
        padding-left: 10%;
    }
    .my-navbar{
        display: none;
    }
    .btn{
        display: inline-block;
    }
    .btn-bars{
        display: inline-block;
        color:var(--secondary-color);
        font-size: 20px;
    }
    .btn-bars:hover{
        color: var(--primary-color);
    }
    .aside{
        z-index: 999;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 100vh;
        background-color: var(--sidebar-background-color);
        backdrop-filter: blur(5px);
        overflow: hidden;
        transition: .5s ease-in;
    }
    .aside.show-aside{
        width: 200px;
    }
    .sidebar-navbar{
        position: absolute;
        left:0;
        top: 25%;
        display:flex;
        flex-direction: column;
    }
    .sidebar-navbar li{
        display: block;
        padding: 20px 50px;
        list-style: none;
        transition: .5s ease-in;
    }
    .sidebar-navbar li:hover{
        background-color: var(--navbar-background-color);
        backdrop-filter: blur(5px);
        padding: 20px 60px;
    }
    .sidebar-navbar li.activeSidebarItem{
        background-color: var(--navbar-background-color);
        backdrop-filter: blur(5px);
        padding: 20px 60px;
    }
    .sidebar-navbar li a{
        color: var(--secondary-color);
        text-decoration: none;
        font-family: var(--secondary-font-family);
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .close-btn{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        display: grid;
        place-items: end;
    }
    .fa-times{
        padding-right: 20px;
        font-size: 20px;
        color: var(--secondary-color);
        cursor: pointer;
        transition: .5s ease;
    }
    .fa-times:hover{
        color: var(--primary-color);
        transform: scale(1.1);
    }
    .btn-bars{
        visibility: visible;
    }
    .height-auto{
        height: 40vh;
    }
    .png{
        transform: scale(.48);
    padding-top: 100px;
    }
    .galaxy-navbar{
        display: none;
    }
    .content-head{
        font-size: 22px;
        font-weight: bold;
    }
    .content-info{
        font-size: 16px;
    }
    .distance-header, .time-header{
        font-size: 15px;
    }
    .distance-info, .time-info{
        font-size: 18px;
        font-weight: bold;
    }
    .next-prev-btn{
        display: block;
    }
    .prev-btn {
        position: absolute;
        top: 25%;
        left: 10px;
        font-size: 20px;
        color: #000;
        background-color: var(--gray-color);
        padding: 10px;
        cursor: pointer;
        transition: .3s;
    }
    
    .next-btn {
        position: absolute;
        top: 25%;
        right: 10px;
        font-size: 20px;
        color: #000;
        background-color: var(--gray-color);
        padding: 10px;
        cursor: pointer;
        transition: .3s;
    }
    .prev-btn:hover, .next-btn:hover{
        backdrop-filter: blur(4px);
        background: rgba(255,255,255,0.1);
        color:#fff;
    }
    .header-text{
    position: absolute;
    top: 0;
    left: 80px;
}
.header-text{
    font-family: var(--primary-font-family);
    font-weight: 200;
    font-size: 20px;
}
.header-text > span{
    font-weight: bold;
    color: var(--gray-color);
    
}
}
